#main {
	background-color: #98cfc9;
	margin: auto;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

#top {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 200px;
	background-color: #ffffff;
}

#top > a, #top nav {
	display: flex;
	display: -webkit-flex;
	align-self: flex-start;
	margin-left: 20px;
}

#top > a {
	flex-direction: row;
	justify-content: space-around;
}

#top nav {
	flex-direction: column;
	flex-basis: 100px;
	justify-content: space-evenly;
}

#brandName {
	margin-left: 10px;
}

.link img {
	width: 45px;
}

th, td{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.link a {
	font-family: 'Raleway', cursive;
	font-weight: 200;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
}

#brandName, .title, #copyright {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.title, #copyright {
	font-size: 20px;
}

#contact {
	flex-flow: row-reverse wrap;
	justify-content: space-between;
	max-width: 300px;
}

#name, #email, #text, #submit {
	display: inline-flex;
	display: -webkit-inline-flex;
	margin-bottom: 25px;
}

#name, #email {
	flex-basis: 300px;
}

#text {
	flex-basis: 300px;
}

#submit {
	background-color: #ffffff;
	flex-basis: 150px;
	padding: 10px 10px;
	background-color: #e4fdfa;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

input, #text {
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

input[placeholder], #text {
	padding: 10px 10px;
	background-color: #e4fdfa;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

#text[placeholder] {
	padding: 10px 10px;
	background-color: #e4fdfa;
}

#copyright {
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-basis: 350px;
}

#list {
	order: 1;
}

#form {
	order: 2;
}

#table {
	order: 3;
}

#table {
	background-color: #e4fdfa;
}

#form {
	background-color: #ffffff;
}

#table .odd {
	background-color: #ffffff;
}


@media screen and (min-width: 414px) {
	#top {	
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 120px;
		background-color: #ffffff;
	}

	#top > a, #top nav {
		display: inline-flex;
		display: -webkit-inline-flex;
		flex-direction: row;
		align-items: center;
		align-self: center;
		justify-content: space-evenly;
		margin-left: 0;
	}
	
	#brandName {
		margin-left: 0;
	}

	#top > a {
		flex-basis: 275px;
	}

	#top nav {
		flex-basis: 200px;
	}

	#top nav > a {
		display: inline-flex;
		display: -webkit-inline-flex;
	}

	.link img {
		width: 65px;
	}

	th, td{
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 30px;
		padding: 10px;
	}

	.link a {
		font-family: 'Raleway', cursive;
		font-weight: 200;
		font-size: 30px;
		text-decoration: none;
		color: #000000;
	}

	#brandName, .title, #copyright {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}

	#contact {
		flex-flow: row-reverse wrap;
		justify-content: space-between;
		max-width: 800px;
	}

	#name, #email, #text, #submit {
		display: inline-flex;
		display: -webkit-inline-flex;
		margin-bottom: 25px;
	}

	#name, #email {
		flex-basis: 375px;
	}

	#text {
		flex-basis: 800px;
	}

	#submit {
		background-color: #ffffff;
		flex-basis: 150px;
		padding: 10px 10px;
		background-color: #ffffff;

		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 20px;
	}

	input, #text {
		border: 0;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}

	input[placeholder], #text {
		padding: 10px 10px;

		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		font-size: 20px;
		background-color: #ffffff;
	}

	#text[placeholder] {
		padding: 10px 10px;
		background-color: #ffffff;
	}

	#bottom {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		background-color: #f2f4f6;;
	}

	#copyright {
		display: inline-flex;
		display: -webkit-inline-flex;
		flex-basis: 350px;
	}

	#list {
		order: 1;
	}

	#table {
		order: 2;
	}

	#form {
		order: 3;
	}

	#form {
		background-color: #e4fdfa;
	}

	#table {
		background-color: #ffffff;
	}

	#table .odd {
		background-color: #e4fdfa;
	}
}

#top #logo {
	width: 50px;
}

#top a {
	text-decoration: none;
	color: #000000;
}

#top nav > a {
	font-weight: 600;
}

#content {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
}

#list, #table, #form {
	display: flex;
	flex-basis: 960px;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}

#list {
	background-color: #e4fdfa;
}

.title, #list ul, #table table, #contact{
	display: flex;
	display: -webkit-flex;
}

.title {
	flex-basis: 100px;
	align-items: center;
}

#list ul {
	flex-direction: column;
	list-style: none;
	padding-left: 0;
	justify-content: space-evenly;
	flex-basis: 400px;
}

#table table {
	flex-basis: 400px;
}

#contact {
	flex-basis: 200px;
}

.link, .link img, .link a {
	display: flex;
	display: -webkit-flex;
}

.link {
	flex-direction: column;
	align-items: center;
}

#bottom {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #f2f4f6;
}

#copyright {
	align-self: center;
}